{% extends 'base.html' %}

{% block title %}Sobre Nós{% endblock title %}

{% block content %}

<div class="container my-3">
    <h1 class="font-weight-bold">Sobre nós</h1>
    <p>
        Somos uma escola focada em promover a aprendizagem e capacitar pessoas dentro de uma das 
        habilidades mais necessárias para a tendência do mercado de trabalho: a programação. 
    </p>
    <p>
        Nossa proposta é aproximá-lo do que há de mais novo de tecnologia no mercado. Com base nisso, 
        procuramos entender a sua velocidade e o seu método de aprendizado para que possamos ser ativos 
        na missão de oferecer um desenvolvimento pleno de suas habilidades de tecnologia.
    </p>
</div>

{% endblock content %}