{% extends 'base.html' %}

{% block content %}

<div class="container my-3">
    <h1 class="font-weight-bold">Olá!</h1>
    <p>
        Somos a Loja Python da HiCode.
    </p>
    <p>
        O nosso curso de “Zero ao E-commerce” irá abranger conhecimentos de Python e 
        Django voltados para o desenvolvimento Web.
        Abordaremos conceitos de Git e Bootstrap também, além de um pouco de HTML, 
        CSS e JavaScript. Utilizaremos o GitHub para o versionamento do projeto.
    </p>
</div>

{% endblock content %}